# Ignore everything in .config by default
/*

# Unignore the specific directories you want to track
!.gitignore
!README.md
!LICENSE
!install.sh
!/zsh/
!/aliases/
!/nvim/
!/tmux/
!/lazydocker/
!/lazygit/
!/k9s/
!/ccstatusline/

# Ignore OS-specific junk or local lockfiles
**/.DS_Store
**/node_modules/
